svg {
  background: #f5f5f5;
}

tspan {
  font-weight: 900;
  font-family: Montserrat;
  font-size: 6px;
}

.title {
  font-weight: 700;
  font-family: Montserrat;
  font-size: 5px;
  text-anchor: end;
}

.chess {
  fill: #e3e1e1;
}

.link {
  font-weight: 900;
  font-family: Montserrat;
  font-size: 6px;
  text-anchor: end;
  fill: #1a0dab
}

.line {
  fill: none;
  stroke: #000000;
  stroke-width: 0.05;
}

.dayName {
  font-weight: 900;
  font-size: 6px;
  font-family: Montserrat;
  text-transform: uppercase;
  text-anchor: start;
}

.pair {
  font-weight: 400;
  font-size: 5px;
  font-family: Montserrat;
  text-anchor: start;
}

.today {
  font-weight: 400;
  font-size: 6px;
  font-family: Montserrat;
  text-transform: uppercase;
  text-anchor: start;
}

.attendance {
  fill: #ca3e47;
}

.mark {
  font-weight: 800;
  font-size: 5.7px;
  font-family: Montserrat;
  text-transform: uppercase;
  text-anchor: middle;
}

.logo {
  text-anchor: start;
}

.discipline {
  font-weight: 500;
  font-size: 5px;
  font-family: Montserrat;
  text-anchor: start;
}

.homework {
  font-weight: 600;
  font-size: 5px;
  font-family: Montserrat;
  text-anchor: start;
}