svg {
  background: #212121;
}

tspan {
  font-weight: 900;
  font-family: Montserrat;
  font-size: 6px;
  fill: #ffffff;
}

.title {
  font-weight: 700;
  font-family: Montserrat;
  font-size: 5px;
  text-anchor: end;
}

.chess {
  fill: #484848;
}

.link {
  font-weight: 900;
  font-family: Montserrat;
  font-size: 6px;
  text-anchor: end;
  fill: #ffffff;
}

.line {
  fill: none;
  stroke: #484848;
  stroke-width: 0.05;
}

.dayName {
  font-weight: 900;
  font-size: 6px;
  font-family: Montserrat;
  text-transform: uppercase;
  text-anchor: start;
}

.today {
  font-weight: 400;
  font-size: 6px;
  font-family: Montserrat;
  text-transform: uppercase;
  text-anchor: start;
  fill: #c2c2c2;
}

.attendance {
  fill: #ca3e47;
}

.mark {
  font-weight: 800;
  font-size: 5.7px;
  font-family: Montserrat;
  text-transform: uppercase;
  text-anchor: middle;

}

.logo {
  text-anchor: start;
}

.discipline {
  font-weight: 500;
  font-size: 5px;
  font-family: Montserrat;
  text-anchor: start;
}

.pair {
  font-weight: 400;
  font-size: 5px;
  font-family: Montserrat;
  text-anchor: start;
  fill: #c2c2c2;
}

.homework {
  font-weight: 600;
  font-size: 5px;
  font-family: Montserrat;
  text-anchor: start;
}

.empty {
  fill: #fafafa;
}