svg {
  background: #f5f5f5;
}

tspan {
  font-weight: 900;
  font-family: Montserrat;
  font-size: 6px;
}

.title {
  font-weight: 900;
  font-family: Montserrat;
  font-size: 6px;
  text-transform: uppercase;
  text-anchor: middle;
}

.discipline {
  font-weight: 700;
  font-size: 7px;
  font-family: Montserrat;
  text-transform: uppercase;
}

.avg {
  font-weight: 800;
  font-size: 8px;
  font-family: Montserrat;
}

.marks {
  font-weight: 800;
  font-size: 7px;
  font-family: Montserrat;
}

.line {
  fill: none;
  stroke: #000000;
  stroke-width: 0.4;
  stroke-opacity: 0.8
}

.link {
  font-weight: 900;
  font-family: Montserrat;
  font-size: 6px;
  fill: #1a0dab;
  text-anchor: end;

}