svg {
  background: #212121;
}

tspan {
  font-weight: 900;
  font-family: Montserrat;
  font-size: 6px;
  fill: #ffffff;
}

.title {
  font-weight: 900;
  font-family: Montserrat;
  font-size: 6px;
  text-transform: uppercase;
  text-anchor: middle;
  fill: #ffffff;
}

.discipline {
  font-weight: 700;
  font-size: 7px;
  font-family: Montserrat;
  text-transform: uppercase;
}

.avg {
  font-weight: 800;
  font-size: 8px;
  font-family: Montserrat;
}

.marks {
  font-weight: 800;
  font-size: 7px;
  font-family: Montserrat;
}

.line {
  fill: none;
  stroke: #484848;
  stroke-width: 0.4;
  stroke-opacity: 0.8
}

.link {
  font-weight: 900;
  font-family: Montserrat;
  font-size: 6px;
  fill: #ffffff;
  text-anchor: end;

}